/****** Object:  Database [TechStoreDB]    Script Date: 3/24/2026 3:41:40 PM ******/
CREATE DATABASE [TechStoreDB]  (EDITION = 'Basic', SERVICE_OBJECTIVE = 'Basic', MAXSIZE = 2 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS, LEDGER = OFF;
GO
/*** The scripts of database scoped configurations in Azure should be executed inside the target database connection. ***/
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 8;
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 3/24/2026 3:41:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 3/24/2026 3:41:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 3/24/2026 3:41:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[OrderDate] [datetime2](7) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[ShippingAddress] [nvarchar](255) NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
	[PaymentStatus] [nvarchar](50) NOT NULL,
	[OrderStatus] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 3/24/2026 3:41:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[StockQuantity] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductSpecs]    Script Date: 3/24/2026 3:41:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductSpecs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[SpecKey] [nvarchar](50) NOT NULL,
	[SpecValue] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/24/2026 3:41:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Role] [nvarchar](20) NOT NULL,
	[Phone] [nvarchar](15) NULL,
	[Address] [nvarchar](255) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name], [Description], [PublicId]) VALUES (1, N'Laptop & MacBook', N'Cập nhật mô tả', N'6c52c1ac-4707-4d77-8b30-4893f60bc43e')
INSERT [dbo].[Categories] ([Id], [Name], [Description], [PublicId]) VALUES (5, N'Laptop 134', N'Danh mục laptop', N'077c27bd-8f57-42b6-9b70-44de9266bb35')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItems] ON 

INSERT [dbo].[OrderItems] ([Id], [OrderId], [ProductId], [Quantity], [UnitPrice]) VALUES (1, 1, 1, 2, CAST(47990000.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderItems] ([Id], [OrderId], [ProductId], [Quantity], [UnitPrice]) VALUES (2, 2, 3, 2, CAST(47990000.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderItems] ([Id], [OrderId], [ProductId], [Quantity], [UnitPrice]) VALUES (3, 3, 4, 3, CAST(34990000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[OrderItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Id], [UserId], [OrderDate], [TotalAmount], [Status], [PaymentMethod], [ShippingAddress], [PublicId], [PaymentStatus], [OrderStatus]) VALUES (1, 2, CAST(N'2026-02-21T16:44:27.1991784' AS DateTime2), CAST(95980000.00 AS Decimal(18, 2)), N'Delivered', N'COD', N'123 Nguyen Trai, Q5, TP.HCM', N'c83b000a-44c3-43ee-bded-a2390dc925e1', N'Paid', N'Delivered')
INSERT [dbo].[Orders] ([Id], [UserId], [OrderDate], [TotalAmount], [Status], [PaymentMethod], [ShippingAddress], [PublicId], [PaymentStatus], [OrderStatus]) VALUES (2, 2, CAST(N'2026-02-21T17:12:52.9755252' AS DateTime2), CAST(95980000.00 AS Decimal(18, 2)), N'Delivered', N'COD', N'123 Nguyen Trai, Q5, TP.HCM', N'fb6bc82d-a6f0-485c-a455-2b8522ee2441', N'Paid', N'Delivered')
INSERT [dbo].[Orders] ([Id], [UserId], [OrderDate], [TotalAmount], [Status], [PaymentMethod], [ShippingAddress], [PublicId], [PaymentStatus], [OrderStatus]) VALUES (3, 2, CAST(N'2026-02-21T17:12:53.5169887' AS DateTime2), CAST(104970000.00 AS Decimal(18, 2)), N'Cancelled', N'COD', N'456 Le Loi, Q1, TP.HCM', N'df5dc79f-f7f7-4e57-aed1-89d33c968911', N'Cancelled', N'Pending')
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [Name], [Description], [Price], [StockQuantity], [CategoryId], [ImageUrl], [CreatedAt], [PublicId]) VALUES (1, N'MacBook Pro 14 M3 Pro', N'MacBook Pro 14 inch chip M3 Pro - UPDATED', CAST(47990000.00 AS Decimal(18, 2)), 18, 1, N'https://store.storeimages.cdn-apple.com/macbook-pro-14.jpg', CAST(N'2026-02-21T16:44:25.2651293' AS DateTime2), N'a8e28edd-c3d7-429c-a700-bed5a58301ee')
INSERT [dbo].[Products] ([Id], [Name], [Description], [Price], [StockQuantity], [CategoryId], [ImageUrl], [CreatedAt], [PublicId]) VALUES (2, N'iPhone 16 Pro Max 256GB', N'iPhone 16 Pro Max 256GB Titan Sa Mạc', CAST(34990000.00 AS Decimal(18, 2)), 50, 1, N'https://store.storeimages.cdn-apple.com/iphone-16.jpg', CAST(N'2026-02-21T16:44:26.0734073' AS DateTime2), N'e5207e31-64b8-43a7-b30c-829e2f5bf8b8')
INSERT [dbo].[Products] ([Id], [Name], [Description], [Price], [StockQuantity], [CategoryId], [ImageUrl], [CreatedAt], [PublicId]) VALUES (3, N'MacBook Pro 14 M3 Pro', N'MacBook Pro 14 inch - UPDATED', CAST(47990000.00 AS Decimal(18, 2)), 18, 1, N'https://store.storeimages.cdn-apple.com/macbook-pro-14.jpg', CAST(N'2026-02-21T17:12:51.2749388' AS DateTime2), N'a7759ca0-29cd-4f68-a616-24d61e49d4fa')
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductSpecs] ON 

INSERT [dbo].[ProductSpecs] ([Id], [ProductId], [SpecKey], [SpecValue]) VALUES (5, 2, N'CPU', N'A18 Pro')
INSERT [dbo].[ProductSpecs] ([Id], [ProductId], [SpecKey], [SpecValue]) VALUES (6, 2, N'RAM', N'8GB')
INSERT [dbo].[ProductSpecs] ([Id], [ProductId], [SpecKey], [SpecValue]) VALUES (7, 2, N'Storage', N'256GB')
SET IDENTITY_INSERT [dbo].[ProductSpecs] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [Email], [PasswordHash], [FullName], [Role], [Phone], [Address], [CreatedAt], [PublicId]) VALUES (1, N'admin', N'admin@techstore.com', N'$2a$11$UZTHe9ReIRkPL9ZyGdjyHeIfb6idSDCVUey2XhGhCTkkawt7hD/TO', N'Admin TechStore', N'Admin', NULL, NULL, CAST(N'2026-02-21T16:15:21.3733333' AS DateTime2), N'f0bd0d22-3de9-4728-a373-3b208a2ee9bc')
INSERT [dbo].[Users] ([Id], [Username], [Email], [PasswordHash], [FullName], [Role], [Phone], [Address], [CreatedAt], [PublicId]) VALUES (2, N'Snuggie', N'tronghieu848@gmail.com', N'$2a$11$iu.bYPZ/Qu.iMzEX06noheohqPujyQxWs8TDomLjsiDtNA0P9ZmLG', N'Lê Trọng Hiếu', N'Admin', N'0986515253', NULL, CAST(N'2026-02-21T16:24:30.4332948' AS DateTime2), N'62dc0bcf-04f6-4006-b08d-e80e1c8a92b8')
INSERT [dbo].[Users] ([Id], [Username], [Email], [PasswordHash], [FullName], [Role], [Phone], [Address], [CreatedAt], [PublicId]) VALUES (3, N'erikDev', N'devmobile@gmail.com', N'$2a$11$xlTOgBL5i9mluP.bOAteou1hz.Zld1yM9kilGsfpOSfWnEcYoxuXq', N'Dev8386', N'Customer', N'0987564125', N'', CAST(N'2026-03-02T11:30:49.9130859' AS DateTime2), N'db63d2c6-d856-441d-8669-48ba4863fb5a')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Categori__737584F61CD5A795]    Script Date: 3/24/2026 3:41:41 PM ******/
ALTER TABLE [dbo].[Categories] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Categori__737584F663AB426A]    Script Date: 3/24/2026 3:41:41 PM ******/
ALTER TABLE [dbo].[Categories] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Categori__737584F6BBBEB3CE]    Script Date: 3/24/2026 3:41:41 PM ******/
ALTER TABLE [dbo].[Categories] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Categories_PublicId]    Script Date: 3/24/2026 3:41:41 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Categories_PublicId] ON [dbo].[Categories]
(
	[PublicId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_PublicId]    Script Date: 3/24/2026 3:41:41 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Orders_PublicId] ON [dbo].[Orders]
(
	[PublicId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_PublicId]    Script Date: 3/24/2026 3:41:41 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Products_PublicId] ON [dbo].[Products]
(
	[PublicId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4406A60DF]    Script Date: 3/24/2026 3:41:41 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4492A2817]    Script Date: 3/24/2026 3:41:41 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4D3799A58]    Script Date: 3/24/2026 3:41:41 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D105342BE3F8EE]    Script Date: 3/24/2026 3:41:41 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534433965DE]    Script Date: 3/24/2026 3:41:41 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534F5612A0E]    Script Date: 3/24/2026 3:41:41 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_PublicId]    Script Date: 3/24/2026 3:41:41 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_PublicId] ON [dbo].[Users]
(
	[PublicId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getutcdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_PaymentStatus]  DEFAULT ('Unpaid') FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_OrderStatus]  DEFAULT ('Pending') FOR [OrderStatus]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [StockQuantity]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('Customer') FOR [Role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Products]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductSpecs]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
